/lang.py
/lottonumerot.csv
/tulokset-2000-2000.csv
/tulokset-2000.csv
/tulokset-2001.csv
/tulokset-2002.csv
/tulokset-2003.csv
/tulokset-2004.csv
/tulokset-2005.csv
/tulokset-2006.csv
/tulokset-2007.csv
/tulokset-2008.csv
/tulokset-2009.csv
/tulokset-2010.csv
/tulokset-2011.csv
/tulokset-2012.csv
/tulokset-2013.csv
/tulokset-2014.csv
/tulokset-2015.csv
/tulokset-2016.csv
/tulokset-2017.csv
/tulokset-2018.csv
/tulokset-2019.csv
/tulokset-2020.csv
/tulokset-2021.csv
/__pycache__